/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    /* Left-3% is for left padding */
    left: 3% !important;
    /* To show the slick on top of the images z-index is used */
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}